/**
 * From `_reboot.scss` from Boostrap (licensed MIT)
 */
/**
 * Normalization of HTML elements, manually forked from Normalize.css to remove
 * styles targeting irrelevant browsers while applying new styles.
 *
 * Normalize is licensed MIT. https://github.com/necolas/normalize.css
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * Our personnal value : 
 * font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default
 * font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
 * font-weight-base: 400 !default
 * line-height-base: 1.5 !default
 * body-color: #212529 !default;
 * body-bg: #FFFFFF !default
 */

/**
 * Body
 *
 * 1. Remove the margin in all browsers.
 * 2. As a best practice, apply a default `background-color`.
 * 3. Prevent adjustments of font size after orientation changes in iOS.
 * 4. Change the default tap highlight to be completely transparent in iOS.
 */
body {
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* font-family-base */
    font-size: 1rem; /* font-size-base */
    font-weight: 400; /* font-weight-base */
    line-height: 1.5; /* line-height-base */
    color: #212529; /* body-color */
    background-color: #FFFFFF; /* body-bg */
    -webkit-text-size-adjust: 100%; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/**
 * Future-proof rule: in browsers that support :focus-visible, suppress the focus outline
 * on elements that programmatically receive focus but wouldn't normally show a visible
 * focus outline. In general, this would mean that the outline is only applied if the
 * interaction that led to the element receiving programmatic focus was a keyboard interaction,
 * or the browser has somehow determined that the user is primarily a keyboard user and/or
 * wants focus outlines to always be presented.
 * See https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible
 * and https://developer.paciellogroup.com/blog/2018/03/focus-visible-and-backwards-compatibility/
 */
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}


/**
 * Content grouping
 *
 * 1. Reset Firefox's gray color
 * 2. Set correct height and prevent the `size` attribute to make the `hr` look like an input field
 *    See https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_hr_size
 */
hr {
    margin: 1rem 0;
    color: inherit; 
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

hr:not([size]) {
    height: 1px; 
}


/**
 * Typography
 *
 * 1. Remove top margins from headings
 *    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
 *    margin for easier control within type scales as it avoids margin collapsing.
 */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0; 
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}


/**
 * Reset margins on paragraphs
 *
 * Similarly, the top margin on `<p>`s get reset. However, we also reset the
 * bottom margin to use `rem` units instead of `em`.
 */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


/**
 * Abbreviations
 *
 * 1. Duplicate behavior to the data-* attribute for our tooltip plugin
 * 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
 * 3. Add explicit cursor to indicate changed behavior.
 * 4. Prevent the text-decoration to be skipped.
 */
abbr[title],
abbr[data-original-title] { 
    text-decoration: underline; 
    text-decoration: underline dotted; 
    cursor: help; 
    text-decoration-skip-ink: none; 
}


/**
 * Address
 */
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}


/**
 * Lists
 */
ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0; 
}


/**
 * Blockquote
 */
blockquote {
    margin: 0 0 1rem;
}


/**
 * Strong
 *
 * Add the correct font weight in Chrome, Edge, and Safari
 */
b,
strong {
    font-weight: bolder;
}


/**
 * Small
 *
 * Add the correct font size in all browsers
 */
small {
    font-size: .875rem;
}


/**
 * Mark
 */
mark {
    padding: .2em;
    background-color: #fcf8e3;
}


/**
 * Sub and Sup
 *
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
    position: relative;
    font-size: .75em;
    line-height: 0;
    vertical-align: baseline;
}

sub { bottom: -.25em; }
sup { top: -.5em; }


/**
 * Links
 */
a {
    color: #0d6efd;
    text-decoration: underline;
}
a:hover {
    color: #0048D7;
}

/**
 * And undo these styles for placeholder links/named anchors (without href).
 * It would be more straightforward to just use a[href] in previous block, but that
 * causes specificity issues in many other styles that are too complex to fix.
 * See https://github.com/twbs/bootstrap/issues/19402
 */
a:not([href]), a:not([href]):hover {
    color: inherit;
    text-decoration: none;
}


/**
 * Code
 */
pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
}

/**
 * 1. Remove browser default top margin
 * 2. Reset browser default of `1em` to use `rem`s
 * 3. Don't allow content to break outside
 */
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem; 
    overflow: auto; 
    font-size: .875em;
}
/* Account for some code outputs that place code tags in pre tags */
pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}


code {
    font-size: .875em;
    word-wrap: break-word;
}
/* Streamline the style when inside anchors to avoid broken underline and more */
a > code {
    color: inherit;
}

kbd {
    padding: .2rem .4rem;
    font-size: .875em;
    color: white;
    background-color: #212529;
    border-radius: .2rem;
}
kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700;
}


/**
 * Figures
 *
 * Apply a consistent margin strategy (matches our type styles).
 */
figure {
    margin: 0 0 1rem;
}


/**
 * Images and content
 */
img,
svg {
    vertical-align: middle;
}


/**
 * Tables
 *
 * Prevent double borders
 */
table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #6c757d;
    text-align: left;
}

/**
 * 1. Matches default `<td>` alignment by inheriting `text-align`.
 * 2. Fix alignment for Safari
 */
th {
    text-align: inherit; 
    text-align: -webkit-match-parent; 
}


/** 
 * Forms
 *
 * 1. Allow labels to use `margin` for spacing.
 */
label {
  display: inline-block;
}

/**
 * Remove the default `border-radius` that macOS Chrome adds.
 * See https://github.com/twbs/bootstrap/issues/24093
 */
button {
    border-radius: 0;
}

/**
 * Work around a Firefox bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 * Credit https://github.com/suitcss/base/
 */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

/* 1. Remove the margin in Firefox and Safari */

input,
button,
select,
optgroup,
textarea {
    margin: 0; 
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Show the overflow in Edge */

button,
input {
    overflow: visible;
}

/* Remove the inheritance of text transform in Firefox */

button,
select {
    text-transform: none;
}

/**
 * Remove the inheritance of word-wrap in Safari.
 * See https://github.com/twbs/bootstrap/issues/24990
 */
select {
    word-wrap: normal;
}

/**
 * Remove the dropdown arrow in Chrome from inputs built with datalists.
 * See https://stackoverflow.com/a/54997118
 */
[list]::-webkit-calendar-picker-indicator {
    display: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 * 3. Opinionated: add "hand" cursor to non-disabled button elements.
 */
button,
[type="button"], 
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; 
}
[type="button"], 
[type="reset"],
[type="submit"]:not(:disabled) {
    cursor: pointer; 
}

/* Remove inner border and padding from Firefox, but don't restore the outline like Normalize.*/

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

/* 1. Textareas should really only resize vertically so they don't break their (horizontal) containers. */

textarea {
    resize: vertical; 
}

/**
 * 1. Browsers set a default `min-width: min-content;` on fieldsets,
 *    unlike e.g. `<div>`s, which have `min-width: 0;` by default.
 *    So we reset that to ensure fieldsets behave more like a standard block element.
 *    See https://github.com/twbs/bootstrap/issues/12359
 *    and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
 * 2. Reset the default outline behavior of fieldsets so they don't affect page layout.
 */
fieldset {
    min-width: 0; 
    padding: 0; 
    margin: 0; 
    border: 0; 
}

/**
 * 1. By using `float: left`, the legend will behave like a block element.
 *    This way the border of a fieldset wraps around the legend if present.
 * 2. Correct the text wrapping in Edge.
 * 3. Fix wrapping bug.
 *    See https://github.com/twbs/bootstrap/issues/29712
 */
legend {
    float: left; 
    width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    white-space: normal; 
}

/**
 * Fix height of inputs with a type of datetime-local, date, month, week, or time
 * See https://github.com/twbs/bootstrap/issues/18842
 */
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 * 2. This overrides the extra rounded corners on search inputs in iOS so that our
 *    `.form-control` class can properly style them. Note that this cannot simply
 *    be added to `.form-control` as it's not specific enough. For details, see
 *    https://github.com/twbs/bootstrap/issues/11586.
*/
[type="search"] {
    outline-offset: -2px; 
    -webkit-appearance: textfield; 
}

/* Remove the inner padding in Chrome and Safari on macOS. */

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* Remove padding around color pickers in webkit browsers */

::-webkit-color-swatch-wrapper {
    padding: 0;
}

/**
 * 1. Change font properties to `inherit` in Safari.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button; 
}

/* Correct element displays */

output {
    display: inline-block;
}


/**
 * Summary
 *
 * 1. Add the correct display in all browsers
 */
summary {
    display: list-item; 
    cursor: pointer;
}


/**
 * Progress
 *
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
    vertical-align: baseline;
}


/**
 * Hidden attribute
 *
 * Always hide an element with the `hidden` HTML attribute.
 */
[hidden] {
    display: none !important;
}
