body {
    margin: 0;
    background-color: #25292E;
    font-family: "Inter", Arial !important;
    font-style: normal;
    font-size: 14px;
    color: #F7FAFB;
}

button, input[type="submit"] {
    padding: .5rem;
    border-radius: 3px;
    background-color: #C4C4C4;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
}


header {
    background-color: #1E2023;
    height: 66px;
    width: 100%;
}
header > h1 {
    margin-left: 33px;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 66px;
    color: white;
}

header #status {
    display: block;
    float: right;
    margin-right: 33px;
    font-weight: bold;
    font-size: 24px;
    line-height: 66px;
    color: #2C9F2A;
}
#status.disconnected {
    color: #C70000;
}

@media only screen and (max-width: 480px) {
    #status .tiny-hidden {
        display: none;
    }
}


#topbar {
    display: grid;
    margin: 1rem 33px 0 33px;
    grid-template-areas: "a b c";
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
}
#onair, #disconnection { 
    margin: 0;
}
#disconnection {
    background-color: #C70000;
}
#onair em { 
    margin-left: 1em; 
    font-weight: bold;
    font-style: normal;
}
#onair strong { 
    margin-left: 1em; 
    font-size: 1.25em;
}
#onair strong i {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    background-image: url(../images/live.gif);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
#utils {
    justify-self: end;
    grid-area: c;
}
#nosleep {
    margin-right: 1rem;
}
button.disable {
    background-color: #5C5C5C;
}

@media only screen and (max-width: 480px) {
    #topbar {
        grid-template-areas: "c" "a" "b";
        grid-template-columns: 100%;
    }
    #disconnection {
        margin-top: 1rem;
    }
    #onair, #utils {
        width: 100%;
        text-align: center;
    }
}


#connection {
    margin: auto;
    margin-top: 1rem;
    border-radius: 3px;
    background-color: #232629;
    width: 700px;
    max-width: 100%;
}
#connection h2 {
    padding-left: 1rem;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #1C1F23;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}
#connection div {
    display: grid;
    padding: 1rem;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
}
#connection div label {
    text-align: right;
    align-self: center;
}
#connection p {
    padding-bottom: 1rem;
    text-align: center;
}
#connection input[type="submit"] {
    background-color: #2C9F2A;
}


#info {
    margin-right: 1em;
    text-align: right;
    color: #C0C0C0;
    font-size: 0.7rem;
}

#atem {
    display: grid;
    grid-template-columns: minmax(400px, 75%) 1fr;
    grid-template-rows: auto auto auto;
}
@media only screen and (max-width: 1024px) {
    #atem {
        grid-template-columns: 60% 1fr;
        grid-template-rows: repeat(6, auto);
    }
}
@media only screen and (max-width: 480px) {
    #atem {
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
    }
}

.box {
    margin : 1rem;
}
.box > h2 {
    padding-left: 1rem;
    color: #7C7C7C;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
}
.box h2 span {
    font-size: 14px;
    font-weight: normal;
    color: #F7FAFB;
}
.box > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    border-radius: 3px;
    background-color: #1E2023;
}

.buttonscene {
    margin: 1rem;
    width: 104px;
    height: 104px;
    background-image: url(../images/blank_button.png);
    box-shadow: 0px 0px 0px white;
    border-radius: 8px !important;
    outline:none;
    font-size: 1rem;
    color: black !important;
    transition: box-shadow 0.3s;
}
.buttonscene.greenbutton {
    background-image: url(../images/blank_green_button.png);
    box-shadow: 0px 0px 30px green;
}
.buttonscene.bluebutton {
    background-image: url(../images/blank_blue_button.png);
    box-shadow: 0px 0px 30px blue;
}
.buttonscene.redbutton {
    background-image: url(../images/blank_red_button.png);
    box-shadow: 0px 0px 30px red;
}
.buttonscene.yellowbutton {
    background-image: url(../images/blank_yellow_button.png);
    box-shadow: 0px 0px 30px yellow;
}


#transition > h2 > input {
    display: inline-block;
    width: 70px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #1E2023;
    border-radius: 3px;
    vertical-align: middle;
    font-weight: bold;
    color: #F7FAFB;
    font-size: 1.1rem;
    text-align: center;
}
#switch.actived {
    box-shadow: 0px 0px 30px white !important;
}



#trans_animation_parent{
    height: 5px;
    width: 100%;
    margin: 5px 0;
    border: 2px solid black;
    border-radius: 5px;
}
#trans_animation_child{
    height: 100%;
    width: 0%;
    background-color: #8a8a8a;
}